
/*Change this font to something you like*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");


body{
	font-family:'Titillium Web', sans-serif;
	height: 100vh;
	background: #000000 ; 
	color: #ffffff;
	/* overflow:hidden; */
	/* animation: 10000ms ease-in-out infinite color-change; */
}

.intro{
	position:absolute;
	right:0;
}

 #resume{
	text-decoration:none; font-size:1.5rem; color:black;
		background:white; border-radius: 50%; border:solid; border-color: indigo; 
		position:absolute;line-height: 90%;height:6.2rem; width:6.2rem; text-align:center; vertical-align:middle;
		display:table-cell;
}
#resume:hover{
	background:indigo;
}

.container{
	/* display:flex;
	flex-direction: column;
	justify-content:center;
	height: 100%;
	padding: 0 3rem; */
	margin:auto;
	text-align: left;
	vertical-align:left;
	padding-left:28rem;
	padding-top:1rem;
}


h2 , a{
	font-weight: 100;
	margin: 0.4rem;
	line-height: 165%;
}

h1{
	font-weight: 10;
	font-size:3.5rem;
	margin: 0.3rem;
	line-height: 100%;
}
h2, a{
	font-size: 2rem;
	color:#f1f1f1;
}
h3{
	text-align: center;
	vertical-align:center;
	padding-left: 0rem;
}
/* div{
	margin:0;
} */



/*  .txt-type > .txt{
	border-right: 0.2rem solid #0000FF;
}  */
#picture{
	padding-top:1rem;
	padding-bottom:1rem;
}

#picture img {
  	border-style: solid;
  	border-color: white;
  	object-fit: cover;
  	border-radius: 50%;
  	height: 20rem;
  	width: 20rem;
  	float: left;
  	position:absolute;
  	left:5rem;
  	top:3rem;
}

#picture img:hover{
	border-color:indigo
}

@media(min-width: 1200px){
	h1{
		font-size: 5rem;
	}
} 

 @media(max-width: 800px){
	.container{
		padding: 0 1rem;
	}
	
	h1{
		font-size: 3rem;
	}
	
	#picture img{
		height: 0rem;
  	width: 0rem;
	}
} 

 @media(max-width: 500px){
	h1{
		font-size: 2.5rem;
	}
	h2, a{
		font-size: 1.5rem;
	}	
	#picture img{
		height: 0rem;
  	width: 0rem;
	}
} 

.fa {
  padding: 20px;
 font-size: 30px;
  width: 2rem;
  height: 2rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  float: right;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
  color:indigo;
}

/* Set a specific color for each brand */


.fa-github {
  /* background: #3B5998; */
  background: black;
  color: white;
} 
.fa-linkedin {
 /*  background: #0e76a8; */
 background: black;
  color: white;
}

.fa-envelope{
	/* background:#0072c6; */
	background: black;
	color: white;
}

/* @keyframes color-change {
  0% {
    background-color: white;
  }
  
  60% {
    background-color: black;
  }
  
  100% {
    background-color: grey;
  } */
}




